{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'quiz/css/style_index.css' %}">
    <title>Solus IT - LGPD Quiz</title>
</head>
<body>
    <header>
        <div class="line"></div>
        <div class="container header_area">
            <div class="header_logo">
                <a href="login/" target="_blank">
                    <img src="{% static 'quiz/images/Logo_Solus_2.png' %}" alt="">
                </a>
            </div>
        </div>
    </header>

    <section class="banner">
        <div class="container">
            <h1>
                Acesse o Quiz<br/>
                Sobre a LGPD
            </h1>
            <span>
                O sistema de autoavaliação de empresas pode permitir que elas próprias verifiquem o seu nível de adequação à Lei Geral de Proteção de Dados Pessoais.
            </span>
            <br>
            <a href="login/" class="button">Acesse Aqui</a>
        </div>
        <div class="banner_img"></div>
    </section>

    
    <section class="area1">
        <div class="area1_img1"></div>
        <div class="area1_content">
            <div class="bar"></div>
            <h2>
                O que é <br> a LGPD?
            </h2>
            <div class="area1_quote">
                <em>Lei 13.709/2018</em>
            </div>
            <div class="area1_text">
                A LGPD se refere ao tratamento de dados pessoais, inclusive nos meios digitais, por pessoa natural ou por pessoa jurídica de direito público ou privado, desde que tratem ou coletem dados no Brasil, ou quando o tratamento visa fornecer bens e serviços em território nacional. Estabelece como as empresas devem coletar, armazenar, compartilhar as informações pessoais que recebem dos seus usuários/clientes. É a lei que trata sobre o uso de dados das pessoas físicas pelas por pessoas naturais (com finalidade comercial), e pessoas jurídicas, tanto de direito público, quanto de direito privado, levando em consideração os direitos fundamentais de privacidade e proteção de dados.            
            </div>
        </div>
    </section>

    <section class="area2">
        <div class="area2_content">
            <div class="bar"></div>
            <h2>
                Consultoria LGPD Solus IT
            </h2>
            <div class="area2_text">
                Esteja em conformidade com a LGPD e adquira maior controle e eficiência dos seus processos além de evitar multas que possam atrapalhar o desenvolvimento do seu negócio.
            </div>
        </div>
        <div class="area2_img1"></div>
    </section>

    <footer>
        Criado por <a href="https://github.com/celso14" target="_blank">Celso Brito</a> e <a href="https://github.com/ireero" target="_blank">Renato Rodrigues</a>
    </footer>

    <div id="div_fixed" class="float" data-shrink="contact">
        <a href="https://wa.me/5591998290015?text=Olá!%20Eu%20tenho%20interesse%20na%20consultoria%20LGPD%20Solus%20IT">
            <div class="flex-items">
                <img src="{% static 'quiz/images/safe.png' %}" alt="Entre em contato para estar em conformidade">
                <span>Esteja em conformidade</span>
            </div>
        </a>
    </div>
</body>
</html>