{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>O que é a LGPD? - Acesso/Cadastro</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'quiz/css/style_login.css' %}">
</head>
<body>


    <div class="container">
        <!-- Login -->
        <form class="form" id="login" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <h1 class="form__title">Acesso</h1> <br>
            {% if erros %}
                <div class="form__input-error-message">{{ erros.erro }}</div>
            {% else %}
                <div class="form__input-error-message"></div>
            {% endif %}
            <div class="form__input-group">
                <input type="text" class="form__input" id="email" name="email" autofocus placeholder="E-mail">
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" id="senha" name="senha" autofocus placeholder="Senha">
            </div>
            <button class="form__button" type="submit">Entrar</button>
            <p class="form__text">
                <a href="#" class="form__link">Esqueceu a senha?</a>
            </p>
            <p class="form__text">
                <a class="form__link" href="cadastro/" id="linkCreateAccount">Não tem uma conta? Crie uma</a>
            </p>
        </form>
    </div>
</body>
</html>