{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>O que é a LGPD? - Acesso/Cadastro</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'quiz/css/style_login.css' %}">
</head>
<body>


    <div class="container">
        <!-- Login -->
        <form class="form" id="login" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <h1 class="form__title">Acesso</h1> <br>
            {% if erros %}
                <div class="form__input-error-message">{{ erros.erro }}</div>
            {% else %}
                <div class="form__input-error-message"></div>
            {% endif %}
            <div class="form__input-group">
                <input type="text" class="form__input" id="email" name="email" autofocus placeholder="E-mail">
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" id="senha" name="senha" autofocus placeholder="Senha">
            </div>
            <button class="form__button" type="submit">Entrar</button>
            <p class="form__text">
                <a href="#" class="form__link">Esqueceu a senha?</a>
            </p>
            <p class="form__text">
                <a class="form__link" href="./" id="linkCreateAccount">Não tem uma conta? Crie uma</a>
            </p>
        </form>
        <!-- Register Form -->
        <form class="form form--hidden" id="createAccount" action="{% url 'cadastro' %}" method="POST">
            <h1 class="form__title">Crie uma conta</h1>
            <div class="form__message form__message--error"></div>
            <div class="form__input-group">
                <input type="text" id="signupUsername" class="form__input" id="nome_empresa_cad" name="nome_empresa_cad" autofocus placeholder="Nome da empresa">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="text" class="form__input" id="email_cad" name="email_cad" autofocus placeholder="E-mail">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" id="senha_cad" name="senha_cad" autofocus placeholder="Senha">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" id="confirm_senha_cad" name="confirm_senha_cad" autofocus placeholder="Confirmar senha">
                <div class="form__input-error-message"></div>
            </div>
            <button class="form__button" type="submit">Cadastrar</button>
            <p class="form__text">
                <a class="form__link" href="./" id="linkLogin">Já possui uma conta? Acesse</a>
            </p>
        </form>
    </div>
    <script type="text/javascript" src="{% static 'quiz/js/login.js' %}"> </script>
</body>
</html>