{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Quiz LGPD - Solus IT</title>
   <!-- FontAwesome-cdn include -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   <!-- Google fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap" rel="stylesheet">
   <!-- Bootstrap-css include -->
   <link rel="stylesheet" href="{% static 'quiz/css/bootstrap.min.css' %}">
   <!-- Animate-css include -->
   <link rel="stylesheet" href="{% static 'quiz/css/animate.min.css' %}">
   <!-- Main-StyleSheet include -->
   <link rel="stylesheet" href="{% static 'quiz/css/style_quiz.css' %}">
</head>
<body>

   <div class="wrapper position-relative">
      <div class="container-fluid px-5">
         <div class="step_bar_content ps-5 pt-5">
            <h5 class="text-white text-uppercase d-inline-block">Quiz LGPD</h5>
         </div>
         <div class="progress_bar steps_bar mt-3 ps-5 d-inline-block">
            <div class="step rounded-pill d-inline-block text-center position-relative active current">1</div>
            <div class="step rounded-pill d-inline-block text-center position-relative">2</div>
            <div class="step rounded-pill d-inline-block text-center position-relative">3</div>
            <div class="step rounded-pill d-inline-block text-center position-relative">4</div>
            <div class="step rounded-pill d-inline-block text-center position-relative">5</div>
            <div class="step rounded-pill d-inline-block text-center position-relative">6</div>
            <div class="step rounded-pill d-inline-block text-center position-relative">7</div>
            <div class="step rounded-pill d-inline-block text-center position-relative">8</div>
            <div class="step rounded-pill d-inline-block text-center position-relative">9</div>

         </div>
         <form class="multisteps_form position-relative" id="wizard" method="POST" action="{% url 'quiz' id_usuario %}">
            {% csrf_token %}
               <!------------------------ Step-1 ---------------------------->
               <div class="multisteps_form_panel active" data-animation="slideVert">
                  <div class="form_content">
                     <div class="row">
                        <div class="col-lg-4">
                           <div class="form_title ps-5">
                              <h1 class="text-white">A Sua empresa avaliou os processos internos para descobrir se estão em conformidade com a LGPD?</h1>
                           </div>
                        </div>
                        <div class="col-lg-4 text-center">
                           <div class="form_img">
                              <img src="{% static 'quiz/images/bg_1.png' %}" alt="image_not_found">
                           </div>
                        </div>
                        <div class="col-lg-4 text-end">
                           <div class="form_items radio-list">
                              <ul class="text-uppercase list-unstyled">
                                 <li>
                                    <label for="opt_1" class="step_1 rounded-pill animate__animated animate__fadeInRight animate_25ms active">
                                       <input type="radio" id="opt_1" name="stp_1_valor_selecao" value="0">
                                       <span class="label-content d-inline-block text-center rounded-pill">Não, mas estamos planejando essa avaliação.</span>
                                    </label>
                                 </li>
                                 <li>
                                    <label for="opt_2" class="step_1 rounded-pill  animate__animated animate__fadeInRight animate_50ms">
                                       <input type="radio" id="opt_2" name="stp_1_valor_selecao" value="1">
                                       <span class="label-content d-inline-block text-center rounded-pill">Sim, avaliamos os processos, mas ainda não corrigimos os problemas encontrados.</span>
                                    </label>
                                 </li>
                                 <li>
                                    <label for="opt_3" class="step_1 rounded-pill animate__animated animate__fadeInRight animate_100ms">
                                       <input type="radio" id="opt_3" name="stp_1_valor_selecao" value="2">
                                       <span class="label-content d-inline-block text-center rounded-pill">Sim, e já começamos a tomar providência e adequálas a LGPD</span>
                                    </label>
                                 </li>
                                 <li>
                                    <label for="opt_4" class="step_1 animate__animated animate__fadeInRight animate_150ms">
                                       <input type="radio" id="opt_4" name="stp_1_valor_selecao" value="3">
                                       <span class="label-content d-inline-block text-center rounded-pill">Não, não é necessário.</span>
                                    </label>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!---------- Form Button ---------->
                  <div class="form_btn py-5 d-flex justify-content-center align-items-center">
                     <button type="button" class="js-btn-next f_btn rounded-pill active text-uppercase" id="nextBtn"> Próxima Questão <span><i class="fas fa-arrow-right ps-1"></i></span></button>
                  </div>
               </div>
               <!------------------------ Step-2 ---------------------------->
               <div class="multisteps_form_panel" data-animation="slideVert">
                  <div class="form_content">
                     <div class="row">
                        <div class="col-lg-4">
                           <div class="form_title ps-5">
                              <h1 class="text-white">Foi indicado um responsável, Encarregado de proteção de dados?</h1>
                           </div>
                        </div>
                        <div class="col-lg-4 text-center">
                           <div class="form_img">
                              <img src="{% static 'quiz/images/bg_2.png' %}" alt="image_not_found">
                           </div>
                        </div>
                        <div class="col-lg-4 text-end">
                           <div class="form_items radio-list">
                              <ul class="text-uppercase list-unstyled">
                                 <li>
                                    <label for="opt_5" class="step_2 rounded-pill animate__animated animate__fadeInRight animate_25ms">
                                       <input type="radio" id="opt_5" class="required" name="stp_2_valor_selecao" value="0" required>
                                       <span class="label-content d-inline-block text-center rounded-pill">Não, mas estamos planejando essa avaliação.</span>
                                    </label>
                                 </li>
                                 <li>
                                    <label for="opt_6" class="step_2 rounded-pill animate__animated animate__fadeInRight animate_50ms">
                                       <input type="radio" id="opt_6" name="stp_2_valor_selecao" value="1">
                                       <span class="label-content d-inline-block text-center rounded-pill">Sim, avaliamos os processos, mas ainda não corrigimos os problemas encontrados.</span>
                                    </label>
                                 </li>
                                 <li>
                                    <label for="opt_7" class="step_2 rounded-pill animate__animated animate__fadeInRight animate_100ms">
                                       <input type="radio" id="opt_7" name="stp_2_valor_selecao" value="2">
                                       <span class="label-content d-inline-block text-center rounded-pill">Sim, e já começamos a tomar providência e adequálas a LGPD</span>
                                    </label>
                                 </li>
                                 <li>
                                    <label for="opt_8" class="step_2 rounded-pill animate__animated animate__fadeInRight animate_150ms">
                                       <input type="radio" id="opt_8" name="stp_2_valor_selecao" value="3">
                                       <span class="label-content d-inline-block text-center rounded-pill">Não, não é necessário.</span>
                                    </label>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!---------- Form Button ---------->
                  <div class="form_btn py-5 d-flex justify-content-center align-items-center">
                     <button type="button" class="js-btn-prev f_btn rounded-pill disable text-uppercase" id="prevBtn"><span><i class="fas fa-arrow-left pe-1"></i></span> Voltar </button>
                     <button type="button" class="js-btn-next f_btn rounded-pill active text-uppercase" id="nextBtn"> Próxima Questão <span><i class="fas fa-arrow-right ps-1"></i></span></button>
                  </div>
               </div>
               <!------------------------ Step-3 ---------------------------->
               <div class="multisteps_form_panel" data-animation="slideVert">
                  <div class="form_content">
                     <div class="row">
                        <div class="col-lg-4">
                           <div class="form_title ps-5">
                              <h1 class="text-white">Existe procedimento de informação aos titulares caso haja vazamento dos dados?</h1>
                           </div>
                        </div>
                        <div class="col-lg-4 text-center">
                           <div class="form_img">
                              <img src="{% static 'quiz/images/bg_3.png' %}" alt="image_not_found">
                           </div>
                        </div>
                        <div class="col-lg-4 text-end">
                           <div class="form_items radio-list">
                              <ul class="text-uppercase list-unstyled">
                                 <li>
                                    <label for="opt_9" class="step_3 rounded-pill animate__animated animate__fadeInRight animate_25ms">
                                       <input type="radio" id="opt_9" class="required" name="stp_3_valor_selecao" value="0" required>
                                       <span class="label-content d-inline-block text-center rounded-pill">Não, mas estamos planejando essa avaliação.</span>
                                    </label>
                                 </li>
                                 <li>
                                    <label for="opt_10" class="step_3 rounded-pill animate__animated animate__fadeInRight animate_50ms">
                                       <input type="radio" id="opt_10" name="stp_3_valor_selecao" value="1">
                                       <span class="label-content d-inline-block text-center rounded-pill">Sim, avaliamos os processos, mas ainda não corrigimos os problemas encontrados</span>
                                    </label>
                                 </li>
                                 <li>
                                    <label for="opt_11" class="step_3 rounded-pill animate__animated animate__fadeInRight animate_100ms">
                                       <input type="radio" id="opt_11" name="stp_3_valor_selecao" value="2">
                                       <span class="label-content d-inline-block text-center rounded-pill">Sim, e já começamos a tomar providência e adequálas a LGPD</span>
                                    </label>
                                 </li>
                                 <li>
                                    <label for="opt_12" class="step_3 rounded-pill animate__animated animate__fadeInRight animate_150ms">
                                       <input type="radio" id="opt_12" name="stp_3_valor_selecao" value="3">
                                       <span class="label-content d-inline-block text-center rounded-pill">Não, não é necessário.</span>
                                    </label>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!---------- Form Button ---------->
                  <div class="form_btn py-5 d-flex justify-content-center align-items-center">
                     <button type="button" class="js-btn-prev f_btn rounded-pill disable text-uppercase" id="prevBtn"><span><i class="fas fa-arrow-left pe-1"></i></span> Voltar </button>
                     <button type="button" class="js-btn-next f_btn rounded-pill active text-uppercase" id="nextBtn"> Próxima Questão <span><i class="fas fa-arrow-right ps-1"></i></span></button>
                  </div>
               </div>
               <!------------------------ Step-4 ---------------------------->
               <div class="multisteps_form_panel" data-animation="slideVert">
                  <div class="form_content">
                     <div class="row">
                        <div class="col-lg-4">
                           <div class="form_title ps-5">
                              <h1 class="text-white">Os dados são eliminados de forma correta ao fim do tratamento?</h1>
                           </div>
                        </div>
                        <div class="col-lg-4 text-center">
                           <div class="form_img">
                              <img src="{% static 'quiz/images/bg_4.png' %}" alt="image_not_found">
                           </div>
                        </div>
                        <div class="col-lg-4 text-end">
                           <div class="form_items radio-list">
                              <ul class="text-uppercase list-unstyled">
                                 <li>
                                    <label for="opt_13" class="step_4 rounded-pill animate__animated animate__fadeInRight animate_25ms">
                                       <input type="radio" id="opt_13" class="required" name="stp_4_valor_selecao" value="0" required>
                                       <span class="label-content d-inline-block text-center rounded-pill">Não, mas estamos planejando essa avaliação.</span>
                                    </label>
                                 </li>
                                 <li>
                                    <label for="opt_14" class="step_4 rounded-pill animate__animated animate__fadeInRight animate_50ms">
                                       <input type="radio" id="opt_14" name="stp_4_valor_selecao" value="1">
                                       <span class="label-content d-inline-block text-center rounded-pill">Sim, avaliamos os processos, mas ainda não corrigimos os problemas encontrados.</span>
                                    </label>
                                 </li>
                                 <li>
                                    <label for="opt_15" class="step_4 rounded-pill animate__animated animate__fadeInRight animate_100ms">
                                       <input type="radio" id="opt_15" name="stp_4_valor_selecao" value="2">
                                       <span class="label-content d-inline-block text-center rounded-pill">Sim, e já começamos a tomar providência e adequálas a LGPD</span>
                                    </label>
                                 </li>
                                 <li>
                                    <label for="opt_16" class="step_4 rounded-pill animate__animated animate__fadeInRight animate_150ms">
                                       <input type="radio" id="opt_16" name="stp_4_valor_selecao" value="3">
                                       <span class="label-content d-inline-block text-center rounded-pill">Não, não é necessário.</span>
                                    </label>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!---------- Form Button ---------->
                  <div class="form_btn py-5 d-flex justify-content-center align-items-center">
                     <button type="button" class="js-btn-prev f_btn rounded-pill disable text-uppercase" id="prevBtn"><span><i class="fas fa-arrow-left pe-1"></i></span> Voltar </button>
                     <button type="button" class="js-btn-next f_btn rounded-pill active text-uppercase" id="nextBtn"> Próxima Questão <span><i class="fas fa-arrow-right ps-1"></i></span></button>
                  </div>
               </div>
               <!------------------------ Step-5 ---------------------------->
               <div class="multisteps_form_panel" data-animation="slideVert">
               <div class="form_content">
                  <div class="row">
                     <div class="col-lg-4">
                        <div class="form_title ps-5">
                           <h1 class="text-white">O local que processa as informações é restrito somente ao pessoal autorizado?</h1>
                        </div>
                     </div>
                     <div class="col-lg-4 text-center">
                        <div class="form_img">
                           <img src="{% static 'quiz/images/bg_5.png' %}" alt="image_not_found">
                        </div>
                     </div>
                     <div class="col-lg-4 text-end">
                        <div class="form_items radio-list">
                           <ul class="text-uppercase list-unstyled">
                              <li>
                                 <label for="opt_17" class="step_5 rounded-pill animate__animated animate__fadeInRight animate_25ms">
                                    <input type="radio" id="opt_17" class="required" name="stp_5_valor_selecao" value="0" required>
                                    <span class="label-content d-inline-block text-center rounded-pill">Não, mas estamos planejando essa avaliação.</span>
                                 </label>
                              </li>
                              <li>
                                 <label for="opt_18" class="step_5 rounded-pill animate__animated animate__fadeInRight animate_50ms">
                                    <input type="radio" id="opt_18" name="stp_5_valor_selecao" value="1">
                                    <span class="label-content d-inline-block text-center rounded-pill">Sim, avaliamos os processos, mas ainda não corrigimos os problemas encontrados.</span>
                                 </label>
                              </li>
                              <li>
                                 <label for="opt_19" class="step_5 rounded-pill animate__animated animate__fadeInRight animate_100ms">
                                    <input type="radio" id="opt_19" name="stp_5_valor_selecao" value="2">
                                    <span class="label-content d-inline-block text-center rounded-pill">Sim, e já começamos a tomar providência e adequálas a LGPD</span>
                                 </label>
                              </li>
                              <li>
                                 <label for="opt_20" class="step_5 rounded-pill animate__animated animate__fadeInRight animate_150ms">
                                    <input type="radio" id="opt_20" name="stp_5_valor_selecao" value="3">
                                    <span class="label-content d-inline-block text-center rounded-pill">Não, não é necessário.</span>
                                 </label>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <!---------- Form Button ---------->
               <div class="form_btn py-5 d-flex justify-content-center align-items-center">
                  <button type="button" class="js-btn-prev f_btn rounded-pill disable text-uppercase" id="prevBtn"><span><i class="fas fa-arrow-left pe-1"></i></span> Voltar </button>
                  <button type="button" class="js-btn-next f_btn rounded-pill active text-uppercase" id="nextBtn"> Próxima Questão <span><i class="fas fa-arrow-right ps-1"></i></span></button>
               </div>
            </div>
            <!------------------------ Step-6 ---------------------------->
            <div class="multisteps_form_panel" data-animation="slideVert">
               <div class="form_content">
                  <div class="row">
                     <div class="col-lg-4">
                        <div class="form_title ps-5">
                           <h1 class="text-white">Há um processo de análise e monitoramento de vulnerabilidades?</h1>
                        </div>
                     </div>
                     <div class="col-lg-4 text-center">
                        <div class="form_img">
                           <img src="{% static 'quiz/images/bg_6.png' %}" alt="image_not_found">
                        </div>
                     </div>
                     <div class="col-lg-4 text-end">
                        <div class="form_items radio-list">
                           <ul class="text-uppercase list-unstyled">
                              <li>
                                 <label for="opt_21" class="step_6 rounded-pill animate__animated animate__fadeInRight animate_25ms">
                                    <input type="radio" id="opt_21" class="required" name="stp_6_valor_selecao" value="0" required>
                                    <span class="label-content d-inline-block text-center rounded-pill">Não, mas estamos planejando essa avaliação.</span>
                                 </label>
                              </li>
                              <li>
                                 <label for="opt_22" class="step_6 rounded-pill animate__animated animate__fadeInRight animate_50ms">
                                    <input type="radio" id="opt_22" name="stp_6_valor_selecao" value="1">
                                    <span class="label-content d-inline-block text-center rounded-pill">Sim, avaliamos os processos, mas ainda não corrigimos os problemas encontrados.</span>
                                 </label>
                              </li>
                              <li>
                                 <label for="opt_23" class="step_6 rounded-pill animate__animated animate__fadeInRight animate_100ms">
                                    <input type="radio" id="opt_23" name="stp_6_valor_selecao" value="2">
                                    <span class="label-content d-inline-block text-center rounded-pill">Sim, e já começamos a tomar providência e adequálas a LGPD</span>
                                 </label>
                              </li>
                              <li>
                                 <label for="opt_24" class="step_6 rounded-pill animate__animated animate__fadeInRight animate_150ms">
                                    <input type="radio" id="opt_24" name="stp_6_valor_selecao" value="3">
                                    <span class="label-content d-inline-block text-center rounded-pill">Não, não é necessário.</span>
                                 </label>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <!---------- Form Button ---------->
               <div class="form_btn py-5 d-flex justify-content-center align-items-center">
                  <button type="button" class="js-btn-prev f_btn rounded-pill disable text-uppercase" id="prevBtn"><span><i class="fas fa-arrow-left pe-1"></i></span> Voltar </button>
                  <button type="button" class="js-btn-next f_btn rounded-pill active text-uppercase" id="nextBtn"> Próxima Questão <span><i class="fas fa-arrow-right ps-1"></i></span></button>
               </div>
            </div>
            <!------------------------ Step-7 ---------------------------->
            <div class="multisteps_form_panel" data-animation="slideVert">
               <div class="form_content">
                  <div class="row">
                     <div class="col-lg-4">
                        <div class="form_title ps-5">
                           <h1 class="text-white">O órgão já realizou um planejamento do seu Programa
Institucional de Privacidade de Dados?</h1>
                        </div>
                     </div>
                     <div class="col-lg-4 text-center">
                        <div class="form_img">
                           <img src="{% static 'quiz/images/bg_7.png' %}" alt="image_not_found">
                        </div>
                     </div>
                     <div class="col-lg-4 text-end">
                        <div class="form_items radio-list">
                           <ul class="text-uppercase list-unstyled">
                              <li>
                                 <label for="opt_25" class="step_7 rounded-pill animate__animated animate__fadeInRight animate_25ms">
                                    <input type="radio" id="opt_25" class="required" name="stp_7_valor_selecao" value="0" required>
                                    <span class="label-content d-inline-block text-center rounded-pill">Não, mas estamos planejando essa avaliação.</span>
                                 </label>
                              </li>
                              <li>
                                 <label for="opt_26" class="step_7 rounded-pill animate__animated animate__fadeInRight animate_50ms">
                                    <input type="radio" id="opt_26" name="stp_7_valor_selecao" value="1">
                                    <span class="label-content d-inline-block text-center rounded-pill">Sim, avaliamos os processos, mas ainda não corrigimos os problemas encontrados.</span>
                                 </label>
                              </li>
                              <li>
                                 <label for="opt_27" class="step_7 rounded-pill animate__animated animate__fadeInRight animate_100ms">
                                    <input type="radio" id="opt_27" name="stp_7_valor_selecao" value="2">
                                    <span class="label-content d-inline-block text-center rounded-pill">Sim, e já começamos a tomar providência e adequálas a LGPD</span>
                                 </label>
                              </li>
                              <li>
                                 <label for="opt_28" class="step_7 rounded-pill animate__animated animate__fadeInRight animate_150ms">
                                    <input type="radio" id="opt_28" name="stp_7_valor_selecao" value="3">
                                    <span class="label-content d-inline-block text-center rounded-pill">Não, não é necessário.</span>
                                 </label>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <!---------- Form Button ---------->
               <div class="form_btn py-5 d-flex justify-content-center align-items-center">
                  <button type="button" class="js-btn-prev f_btn rounded-pill disable text-uppercase" id="prevBtn"><span><i class="fas fa-arrow-left pe-1"></i></span> Voltar </button>
                  <button type="button" class="js-btn-next f_btn rounded-pill active text-uppercase" id="nextBtn"> Próxima Questão <span><i class="fas fa-arrow-right ps-1"></i></span></button>
               </div>
            </div>
            <!------------------------ Step-8 ---------------------------->
            <div class="multisteps_form_panel" data-animation="slideVert">
               <div class="form_content">
                  <div class="row">
                     <div class="col-lg-4">
                        <div class="form_title ps-5">
                           <h1 class="text-white">Existe uma frequência estabelecida para geração dos backups?</h1>
                        </div>
                     </div>
                     <div class="col-lg-4 text-center">
                        <div class="form_img">
                           <img src="{% static 'quiz/images/bg_8.png' %}" alt="image_not_found">
                        </div>
                     </div>
                     <div class="col-lg-4 text-end">
                        <div class="form_items radio-list">
                           <ul class="text-uppercase list-unstyled">
                              <li>
                                 <label for="opt_29" class="step_8 rounded-pill animate__animated animate__fadeInRight animate_25ms">
                                    <input type="radio" id="opt_29" class="required" name="stp_8_valor_selecao" value="0" required>
                                    <span class="label-content d-inline-block text-center rounded-pill">Não, mas estamos planejando essa avaliação.</span>
                                 </label>
                              </li>
                              <li>
                                 <label for="opt_30" class="step_8 rounded-pill animate__animated animate__fadeInRight animate_50ms">
                                    <input type="radio" id="opt_30" name="stp_8_valor_selecao" value="1">
                                    <span class="label-content d-inline-block text-center rounded-pill">Sim, avaliamos os processos, mas ainda não corrigimos os problemas encontrados.</span>
                                 </label>
                              </li>
                              <li>
                                 <label for="opt_31" class="step_8 rounded-pill animate__animated animate__fadeInRight animate_100ms">
                                    <input type="radio" id="opt_31" name="stp_8_valor_selecao" value="2">
                                    <span class="label-content d-inline-block text-center rounded-pill">Sim, e já começamos a tomar providência e adequálas a LGPD</span>
                                 </label>
                              </li>
                              <li>
                                 <label for="opt_32" class="step_8 rounded-pill animate__animated animate__fadeInRight animate_150ms">
                                    <input type="radio" id="opt_32" name="stp_8_valor_selecao" value="3">
                                    <span class="label-content d-inline-block text-center rounded-pill">Não, não é necessário.</span>
                                 </label>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <!---------- Form Button ---------->
               <div class="form_btn py-5 d-flex justify-content-center align-items-center">
                  <button type="button" class="js-btn-prev f_btn rounded-pill disable text-uppercase" id="prevBtn"><span><i class="fas fa-arrow-left pe-1"></i></span> Voltar </button>
                  <button type="button" class="js-btn-next f_btn rounded-pill active text-uppercase" id="nextBtn"> Próxima Questão <span><i class="fas fa-arrow-right ps-1"></i></span></button>
               </div>
            </div>
            <!------------------------ Step-9 ---------------------------->
            <div class="multisteps_form_panel" data-animation="slideVert">
               <div class="form_content">
                  <div class="row">
                     <div class="col-lg-4">
                        <div class="form_title ps-5">
                           <h1 class="text-white">Todos os dados pessoais são obtidos o devido consentimento do titular?</h1>
                        </div>
                     </div>
                     <div class="col-lg-4 text-center">
                        <div class="form_img">
                           <img src="{% static 'quiz/images/bg_9.png' %}" alt="image_not_found">
                        </div>
                     </div>
                     <div class="col-lg-4 text-end">
                        <div class="form_items radio-list">
                           <ul class="text-uppercase list-unstyled">
                              <li>
                                 <label for="opt_33" class="step_9 rounded-pill animate__animated animate__fadeInRight animate_25ms">
                                    <input type="radio" id="opt_33" name="stp_9_valor_selecao" value="0">
                                    <span class="label-content d-inline-block text-center rounded-pill">Não, mas estamos planejando essa avaliação.</span>
                                 </label>
                              </li>
                              <li>
                                 <label for="opt_34" class="step_9 rounded-pill animate__animated animate__fadeInRight animate_50ms">
                                    <input type="radio" id="opt_34" name="stp_9_valor_selecao" value="1">
                                    <span class="label-content d-inline-block text-center rounded-pill">Sim, avaliamos os processos, mas ainda não corrigimos os problemas encontrados.</span>
                                 </label>
                              </li>
                              <li>
                                 <label for="opt_35" class="step_9 rounded-pill animate__animated animate__fadeInRight animate_100ms">
                                    <input type="radio" id="opt_35" name="stp_9_valor_selecao" value="2">
                                    <span class="label-content d-inline-block text-center rounded-pill">Sim, e já começamos a tomar providência e adequálas a LGPD.</span>
                                 </label>
                              </li>
                              <li>
                                 <label for="opt_36" class="step_9 rounded-pill animate__animated animate__fadeInRight animate_150ms">
                                    <input type="radio" id="opt_36" name="stp_9_valor_selecao" value="3">
                                    <span class="label-content d-inline-block text-center rounded-pill">Não, não é necessário.</span>
                                 </label>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <!---------- Form Button ---------->
               <div class="form_btn py-5 d-flex justify-content-center align-items-center">
                  <button type="button" class="js-btn-prev f_btn rounded-pill disable text-uppercase" id="prevBtn"><span><i class="fas fa-arrow-left pe-1"></i></span> Voltar </button>
                  <button type="submit" class="f_btn rounded-pill active text-uppercase" id="nextBtn"> Enviar</button>
               </div>
            </div>
         </form>
      </div>
   </div>

   <div id="div_fixed" class="float" data-shrink="contact">
      <a href="https://wa.me/5591998290015?text=Olá!%20Eu%20tenho%20interesse%20na%20consultoria%20LGPD%20Solus%20IT">
          <div class="flex-items">
              <img src="{% static 'quiz/images/safe.png' %}" alt="Entre em contato para estar em conformidade">
              <span>Esteja em conformidade</span>
          </div>
      </a>
  </div>
   <!-- jQuery-js include -->
   <script src="{% static 'quiz/js/jquery-3.6.0.min.js' %}"></script>
   <!-- Bootstrap-js include -->
   <script src="{% static 'quiz/js/bootstrap.min.js' %}"></script>
   <!-- jQuery-validate-js include -->
   <script src="{% static 'quiz/js/jquery.validate.min.js' %}"></script>
   <!-- Custom-js include -->
   <script src="{% static 'quiz/js/script.js' %}"></script>
</body>
</html>