{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'quiz/css/style_result.css' %}">
    <title>Resultado</title>
</head>
<body>
    <div class="div-result">
        <h2>Resultado</h2>
        <img src="{% static 'quiz/images/Success.jpg' %}" alt="">
        <div class="result-point">Sua Pontuação foi {{ pontuacao }} de 5</div>
        <div class="result-text">Você ainda não está no caminho da conformidade com a LGPD, entre em contato conosco e deixe sua empresa na frente.</div>
        <a href="">Entre em conformidade</a>
    </div>
</body>
</html>