{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'quiz/css/style_result.css' %}">
    <title>Resultado</title>
</head>
<body>
    <div class="div-result">
        <h2>Resultado</h2>
        <img id="img" src="{% static 'quiz/images/climb.jpg' %}" alt="">
        <div id="resultado" class="result-point">Sua Pontuação foi {{ estrelas }} de 6</div>
        <div class="result-text">Você ainda não está no caminho da conformidade com a LGPD, entre em contato conosco e deixe sua empresa na frente.</div>
        <a id="conformidade-link" href="https://wa.me/5591998290015?text=Olá!%20Eu%20tenho%20interesse%20na%20consultoria%20LGPD%20Solus%20IT">Entre em conformidade</a>
        <a id="home-link" href="/">Voltar para página inicial</a>
    </div>
    
    <script type="text/javascript" src="{% static 'quiz/js/script_resultado.js' %}"></script>
</body>
</html>