{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'quiz/css/style_termo.css' %}" />
    <title>LGPD Quiz - Termos de uso</title>
  </head>
  <body>
    <header>
      <div class="line"></div>
      <div class="container header_area">
        <div class="header_logo">
          <a href="/" target="_blank">
            <img src="{% static 'quiz/images/Logo_Solus_2.png' %}" alt="" />
          </a>
        </div>
      </div>
    </header>
    <div class="entry-content">
      <h1>TERMOS DE USO</h1>
      <ol>
        <li><b> DO CONTRATO E DE SUA ACEITAÇÃO: </b></li>
      </ol>
      <p>
        <span style="font-weight: 400"
          >A Solus IT é uma empresa especializada em soluções tecnológicas para
          evolução do seu negócio através de consultoria personalizada.
          Fornecemos auxilio na proteção de dados pessoais, possibilitando e
          simplificando o processo de conformidade com as exigências da Lei
          Geral de Proteção de Dados Pessoais.
        </span>
      </p>
      <p>
        <span style="font-weight: 400"
          >Ao inscrever-se, cadastrar-se, acessar ou usar qualquer um dos nossos
          serviços, inclusive todos os recursos e funcionalidades, interfaces de
          usuário, software e site, você estará celebrando um contrato
          vinculativo com a pessoa jurídica indicada abaixo:
        </span>
      </p>
      <p><b>SOLUS IT Ltda</b></p>
      <p>
        <span style="font-weight: 400">CNPJ nº: 10.348.741/0001-11.<br /> </span
        ><span style="font-weight: 400"
          >Endereço: Avenida Governador Jose Malcher, nº 937, Sala 1805, Bairro
          Nazaré, Belém , PA, Brasil.<br /> </span
        ><span style="font-weight: 400">CEP: 66040-281</span>
      </p>
      <p>
        <span style="font-weight: 400"
          >Além disso, você declara que concorda com nossa </span
        ><a href="#"
          ><span style="font-weight: 400">Política de Privacidade</span></a
        ><span style="font-weight: 400"
          >, assim como com toda regulamentação e legislação aplicáveis,
          declarando-se responsável pelo cumprimento destas, e
          responsabilizando-se por todos e quaisquer atos praticados por você na
          utilização destes serviços.
        </span>
      </p>
      <p>
        <span style="font-weight: 400"
          >Acaso você não concorde com os termos de uso e/ou com nossa política, </span
        ><span style="font-weight: 400"
          >você não deverá utilizar e acessar nossos serviços</span
        ><span style="font-weight: 400">.</span>
      </p>
      <p>
        <span style="font-weight: 400"
          >Não é permitido o cadastro, acesso ou uso por menores de 18
          anos.</span
        >
      </p>
      <p>
        <span style="font-weight: 400"
          >Ao inscrever-se, acessar, ou cadastrar-se você declara que possui 18
          anos.
        </span>
      </p>
      <p>
        <span style="font-weight: 400"
          >Quando você se cadastrar, se inscrever ou acessar nossos serviços
          vinculando-se a uma empresa, entidade ou organização, você declara e
          garante que:
        </span>
      </p>
      <ol>
        <li style="font-weight: 400">
          <span style="font-weight: 400"
            >Tem autorização desta empresa, entidade ou organização;
          </span>
        </li>
        <li style="font-weight: 400">
          <span style="font-weight: 400"
            >Tem autoridade para vincular a empresa, entidade ou organização a
            estes termos e nossas políticas;
          </span>
        </li>
        <li style="font-weight: 400">
          <span style="font-weight: 400"
            >Autoriza e concorda que a empresa, entidade ou organização está e
            ficará vinculada por estes Termos e nossa política.
          </span>
        </li>
      </ol>
      <p>
        <span style="font-weight: 400"
          >Acaso reste comprovado, de qualquer forma, que as informações
          prestadas pelo usuário no momento da inscrição/cadastro ou acesso são
          falsas, o usuário está ciente e concorda que tal prática ocasionará na
          exclusão do respectivo cadastro.
        </span>
      </p>
      <ol start="2">
        <li><b> DA PROPRIEDADE E DO USO: </b></li>
      </ol>
      <p>
        <span style="font-weight: 400"
          >Todos os textos, imagens, vídeos, informações, ícones, softwares,
          áudios, logotipos, designs, códigos de computador e outros conteúdos
          contidos em nosso serviço e site, são de nossa propriedade exclusiva,
          estando assim, protegidos por leis de direitos autorais, marcas e
          outras.</span
        >
      </p>
      <p>
        <span style="font-weight: 400"
          >Você concorda que não irá usá-los ou exibi-los publicamente, de
          qualquer forma, sem nossa prévia autorização por escrito.</span
        >
      </p>
      <ol start="3">
        <li><b> DA ISENÇÃO DE GARANTIAS: </b></li>
      </ol>
      <p>
        <span style="font-weight: 400"
          >Não garantimos que: o serviço atenderá aos seus requisitos; o serviço
          será ininterrupto, seguro ou infalível; que os resultados do uso do
          serviço serão certos, precisos ou confiáveis; que os serviços
          atenderão às suas expectativas; que quaisquer erros no serviço serão
          corrigidos; e qualquer material acessado através do uso do serviço for
          acessado por sua própria conta e risco, e você será o único
          responsável por qualquer dano ao seu sistema de computador ou
          dispositivo móvel ou perda de dados que resulte do uso de qualquer
          material.</span
        >
      </p>
      <ol start="4">
        <li><b> DA RESPONSABILIDADE E INDENIZAÇÕES: </b></li>
      </ol>
      <p>
        <span style="font-weight: 400"
          >Você concorda expressamente que é de sua exclusiva responsabilidade o
          uso do serviço.
        </span>
      </p>
      <p>
        <span style="font-weight: 400"
          >A Solus jamais será responsável por quaisquer danos, diretos ou
          indiretos, incidentais e outros, que sejam resultantes do acesso e uso
          deste site ou desses serviços.
        </span>
      </p>
      <p>
        <span style="font-weight: 400"
          >Você concorda que não seremos responsabilizados pelo que possa
          ocorrer com você e que esteja ligado a sua utilização de nossos
          serviços, bem como, não somos responsáveis pela perda ou dano que
          possa ocorrer como resultado de alguém usar sua senha ou conta, com ou
          sem o seu conhecimento.</span
        >
      </p>
      <p>
        <span style="font-weight: 400"
          >Você também é totalmente responsável por todas as atividades que
          ocorrem através do uso de sua conta e senha. Deste modo, você concorda
          em nos notificar imediatamente sobre qualquer uso não autorizado de
          sua conta ou senha ou qualquer outra violação de segurança e garantir
          que você saia da sua conta ao final de cada sessão.
        </span>
      </p>
      <ol start="5">
        <li><b> DAS ALTERAÇÕES DOS TERMOS DE USO: </b></li>
      </ol>
      <p>
        <span style="font-weight: 400"
          >Ocasionalmente, nós podemos fazer algumas alterações no presente
          termo de uso, seja para melhorar nosso serviço, acrescentar novas
          soluções, realizar ajustes técnicos, para segurança, por outras razões
          legais ou regulamentares.</span
        >
      </p>
      <p>
        <span style="font-weight: 400"
          >Quando isto se concretizar, lhe forneceremos um aviso de acordo com
          as circunstâncias, por exemplo, exibindo uma notificação proeminente
          ou buscando sua confirmação dentro do serviço ou enviando um e-mail
          para você.
        </span>
      </p>
      <p>
        <span style="font-weight: 400"
          >Em alguns casos, nós te notificaremos com antecedência, sendo que o
          seu uso continuado do Serviço, após terem sido feitas as alterações,
          constituirá sua aceitação.
        </span>
      </p>
      <p>
        <span style="font-weight: 400"
          >Portanto, por favor certifique-se de ler cuidadosamente qualquer
          notificação.
        </span>
      </p>
      <p>
        <span style="font-weight: 400"
          >Acaso você não deseje prosseguir utilizando o serviço sob a nova
          versão dos termos e/ou políticas, você poderá encerrar sua conta
          entrando em contato conosco através do email: </span
        ><a href="mailto:contato@privacytools.com.br"
          ><span style="font-weight: 400">email para contato</span></a
        ><span style="font-weight: 400">. </span>
      </p>
      <ol start="6">
        <li><b> DA VIOLAÇÃO DESTES TERMOS: </b></li>
      </ol>
      <p>
        <span style="font-weight: 400"
          >A Solus reserva-se no direito de encerrar o seu acesso aos
          serviços, caso seu uso deste seja inadequado e/ou contrário as
          previsões deste termo.
        </span>
      </p>
      <p>
        <span style="font-weight: 400"
          >Você concorda e se responsabiliza em nos indenizar e isentar por
          quaisquer reivindicações ou demandas, incluindo honorários
          advocatícios, decorrentes ou relacionadas ao seu uso dos serviços ou
          sua violação destes Termos ou os direitos de terceiros.</span
        >
      </p>
      <ol start="7">
        <li><b> DÚVIDAS: </b></li>
      </ol>
      <p>
        <span style="font-weight: 400"
          >Quaisquer dúvidas referentes ao presente termo de uso, deverão ser
          encaminhadas para: </span
        ><a href="mailto:contato@privacytools.com.br"
          ><span style="font-weight: 400">email para contato</span></a
        ><span style="font-weight: 400">. </span>
      </p>
      <ol start="8">
        <li><b> DA LEGISLAÇÃO E JURISDIÇÃO: </b></li>
      </ol>
      <p>
        <span style="font-weight: 400"
          >Estes termos e a relação decorrente das ações aqui compreendidas,
          assim como qualquer disputa que surja em virtude disto será regulada
          exclusivamente pela legislação brasileira.</span
        >
      </p>
      <p>
        <span style="font-weight: 400"
          >Fica eleito o Foro Central da Comarca de Porto Alegre, RS, para
          dirimir qualquer questão envolvendo o presente documento, renunciando
          as partes a qualquer outro, por mais privilegiado que seja ou venha a
          ser.</span
        >
      </p>
    </div>
  </body>
</html>
